.item{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    padding: 20px;
    gap: 100px;
    margin:30px;
    
  }

  .image{
    width: 200px;
    height: 200px;
  padding: 20px;
  margin-left: 10px;
    margin: 10px;
  }

  .navbar {
    position: sticky;
    top: 0;
    z-index: 1000; 
   
  }