.item{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    padding: 20px;
    gap: 100px;
    margin:30px;
    
  }

  .image{
    width: 200px;
    height: 200px;
  padding: 20px;
  margin-left: 10px;
    margin: 10px;
  }
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  .card {
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  .navbar {
    position: sticky;
    top: 0;
    z-index: 1000; 
   
  }

  .detail{
    margin: 50px;
    margin: 10px;
    background-color: grey;
 padding: 20px;color: white;
  }

 .wrap{
  display: flex;
 gap: 50px;
 }


 .patient{
text-align: center;
 color: yellow;
 font-weight: bolder;
 font-size: 2rem;;
}

.responsive-map{
  overflow: hidden;
  height: 0;
  padding-bottom: 30%;
  position: relative;
  margin: 5px;
}

.responsive-map iframe{
  
  height: 300px;
  border : 3px solid black;
  width: 600px;
  margin-left: 44px;
  margin-top: 50px;
  border-radius: 20px;
}

.map-text{
  text-align: center;
 color: white;
 font-weight: bolder;
 font-size: 1rem;;
 margin: 20px;
 background-color: plum
}


/* HEART  */


  .love-heart:before,#switch {
    display: none;
   }
 
   .love-heart, .love-heart::after {
    border-color: hsl(231deg 28% 86%);
    border: 1px solid;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 10px;
    height: 8px;
    border-bottom: 0
   }
 
   .round {
    position: absolute;
    z-index: 1;
    width: 8px;
    height: 8px;
    background: hsl(0deg 0% 100%);
    box-shadow: rgb(0 0 0 / 24%) 0px 0px 4px 0px;
    border-radius: 100%;
    left: 0px;
    bottom: -1px;
    transition: all .5s ease;
    animation: check-animation2 .5s forwards;
   }
 
   input:checked + label .round {
    transform: translate(0px, 0px);
    animation: check-animation .5s forwards;
    background-color: hsl(0deg 0% 100%);
   }
 
   @keyframes check-animation {
    0% {
     transform: translate(0px, 0px);
    }
 
    50% {
     transform: translate(0px, 7px);
    }
 
    100% {
     transform: translate(7px, 7px);
    }
   }
 
   @keyframes check-animation2 {
    0% {
     transform: translate(7px, 7px);
    }
 
    50% {
     transform: translate(0px, 7px);
    }
 
    100% {
     transform: translate(0px, 0px);
    }
   }
 
   .love-heart {
    box-sizing: border-box;
    position: relative;
    transform: rotate(-45deg) translate(-50%, -33px) scale(4);
    display: block;
    border-color: hsl(231deg 28% 86%);
    cursor: pointer;
    top: 0;
   }
 
   input:checked + .love-heart, input:checked + .love-heart::after, input:checked + .love-heart .bottom {
    border-color: hsl(347deg 81% 61%);
    box-shadow: inset 6px -5px 0px 2px hsl(347deg 99% 72%);
   }
 
   .love-heart::after, .love-heart .bottom {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-color: hsl(231deg 28% 86%);
   }
 
   .love-heart::after {
    right: -9px;
    transform: rotate(90deg);
    top: 7px;
   }
 
   .love-heart .bottom {
    width: 11px;
    height: 11px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: hsl(231deg 28% 86%);
    left: -1px;
    top: 5px;
    border-radius: 0px 0px 0px 5px;
   }
   /*  end heart */

   .approve{
display: flex;
justify-content:end;

align-items: center;
gap: 80px;
padding-right: 50px;
   }

   .conversation{
     width: 700px;height: 40px;
     text-align: center;
   }
 

   .patient_ui{
    display: flex;
    gap: 60px;
  
   }

   .rectangle {
    width: 650px;
    height: calc(100vh - 160px); /* Full viewport height minus 100px */
    background-color: #B2EC5D;
    margin-bottom: 70px; 
    margin-left: 30px;/* Center horizontally with some margin on top and bottom */
    border-radius: 40px;
    border: 3px solid black;
    display: flex; 
    gap: 90px;
  }

  .inner_rectangle{
    width: 220px;
    border-radius: 40px;
    border: 3px solid white;
    background-color: black;
    margin-left: 20px;
   margin-top: 30px;
    height: 220px;
  }

  .inner_text{
    margin-top: 45px;
    color: black;
    font-size: 20px;
    line-height: 1.9; 
  }

  .temp{
    width: 220px;
    border-radius: 40px;
    border: 3px solid black;
    background-color:#B2EC5D;
    margin-left: 20px;
   margin-top: 10px;
    height: 250px;
    color: black;
    text-align: center;
    font-size: 30px;
    line-height: 2.0;
  }

  .air{
    width: 270px;
    border-radius: 40px;
    border: 3px solid black;
    background-color:#B2EC5D;
    margin-left: 80px;
   margin-top: 10px;
    height: 180px;
    color: black;
    text-align: center;
    font-size: 30px;
    line-height: 2.0;
  }

  .right-side-content {
    display: flex;
    flex-direction: column;
    gap: 80px;
  
  }
  
  .cards-container {
    display: flex;
    gap: 60px;
  }


 .search {
  background-color: #B2EC5D;
  width: 300px;
  height: 150px;
  border-radius: 40px;
  margin-left: 180px;
  margin-top: 5px;
  border: 3px solid black;
  text-align: center;
  
 }

 .search_button {
  background-color: black; /* Initial background color */
  color: white; /* Initial text color */
  width: 170px;
  height: 60px;
  padding: 10px 20px; /* Button padding */
  border: 3px solid white; /* Remove border */
  border-radius: 5px; /* Rounded corners */
 }


